.filter {
  position: relative;
}

.filter__container {
  position: absolute;
  width: 390px;
  top: 25%;
  right: 10%;
  border: 1px solid;
  border-radius: 10px;
  background: white;
  z-index: 2;
  padding: 1rem;
}

.filter__container .button{
  width: 100%;
  min-width: auto;
}