.css-i4bv87-MuiSvgIcon-root{
  fill: rgb(108,117,125);
}

svg[class^='icon-'], svg[class*='icon-']{
  cursor: pointer;
}

svg[class^='icon-']:hover, svg[class*='icon-']:hover{
  opacity: 1;
}

.iconGreenToolbar{
  color:#008000!important;
  font-size: 16px!important;
}

.icon-white{
  fill: white !important;
}

.icon-primary{
  fill: var(--primary-green) !important
}

.icon-gray{
  fill: var(--content-color) !important
}

.icon-gray-fourth{
  fill: var(--fourth-gray-color) !important
}

.icon-red {
  fill: red !important;
}

.modal__close {
  position: absolute !important;
  right: 4px;
  top: 4px;
  z-index: 1;
}